/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #333;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

/* Header */
header {
    background-color: #2c3e50;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
    color: #fff;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    font-size: 1.2rem;
    color: #fff;
}

/* Hero Section */
.hero {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero .cta-btn {
    background-color: #e67e22;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Section Styling */
.section {
    padding: 60px 0;
}

.section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 22%;
    text-align: center;
}

.row__content > #grid__column{
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
    }

.item-image{
  width: 100%;
  height: 10rem;
}

.product h3 {
    font-size: 1.8rem;
    color: #2c3e50;
}

.testimonial {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Contact Form */
form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #e67e22;
    color: #fff;
    padding: 12px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1rem;
}

footer a {
    color: #e67e22;
    margin-left: 10px;
}
